# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore environment configuration files
.env
*.env

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local scripts and notebooks
local_search.ipynb
local_search.py
local_search_random_restart.py
local_search_random_restart.ipynb
local_search_simulated_annealing.py
local_search_simulated_annealing.ipynb
simulated_annealing.py

# Ignore compiled files
*.so
*.dll
*.out
*.o

# Ignore temporary files
*.tmp
*.swp
*.swo